@import 'mediawiki.mixins';

.background-image-svg( @svg, @fallback ) {
	background-image: url( @fallback );
	background-image: linear-gradient( transparent, transparent ), url( @svg );
}

// Deprecated in MW 1.35, see T248047. To be removed in MW 1.36.
// Shorthand for background-image-svg. Use if your PNG and SVG have the same name
// and only if you cannot use ResourceLoaderImage module for some particular reason.
.background-image-svg-quick( @url ) {
	.background-image-svg( ~'@{url}.svg', ~'@{url}.png' );
}


@media screen {	
	body {
		//font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
		background: #5296ff;

		#mw-page-base {
			background: none;

			
			background-size: auto 5em;	
			background-repeat: repeat-y, repeat-x;

			@media (min-width: 1248px) {
				background-image: url("images/boxes.svg"), linear-gradient(to right, #5296ff ~"calc(100vw - 768px)", #3171d6 ~"calc(100vw - 768px + 101px)");		
				background-position: ~"calc(100vw - 768px)" top, bottom left;
			}
	
			@media (max-width: 1248px) {
				background-image: url("images/boxes.svg"), linear-gradient(to right, #5296ff 480px, #3171d6 ~"calc(480px + 101px)");			
				background-position: 480px top, bottom left;
			}	
		}

		#mw-navigation {
			#left-navigation, #right-navigation {
				.vector-menu-tabs li::before {
						content: "";

						background-repeat: no-repeat;
						background-position: .25em .25em;
						background-size: 1em;

						width: 1.5rem;
						height: 1.5rem;
						display: inline-block;
				}
			}

			#left-navigation {
				padding-left: 1.5em;
			}

			#searchform {
				margin-top: 0.375em;

				#simpleSearch {
					#searchInput {
						background-color: white;
						border-color: #3171d6;
						border-radius: 0;

						.box-shadow(none);

						&:focus {
							.box-shadow(inset 0 0 0 1px #5296ff);
						}

						&:hover {
							border-color: #5296ff;
						}
					}
				}
			}
			
			.vector-menu-tabs {
				background: none;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				height: 1.5em;
			
				ul {
					background: none;
			
					li {
						& + li {
							margin-left: 0.75em;
						}
			
						background: none;
						
						.background-image-svg-quick("images/button");
						background-position: center left;
						background-size: 1.5em 1.5em;
						background-repeat: no-repeat;

						height: 1.5em;
			
						&.selected,
						&#ca-unwatch.icon {
							.background-image-svg-quick("images/button-active");
						}

						&.new {
							a,
							a:visited {
								color: #ffa5a4;
							}
						}
				
						&.selected {
							a,
							a:visited {
								color: white;
								font-weight: bold;
							}
						}
				
						a,
						a:visited
						{
							color: #bfd9ff;
						}

						a {
							background: none;
							background-repeat: no-repeat;
					
							float: none;
							display: inline-block;
							overflow: hidden;

							height: initial;
							line-height: 1.5rem;
					
							padding: 0;
							padding-left: .25rem;
						}

						&#ca-watch.icon a, &#ca-unwatch.icon a {
							&, &.loading {
								background: none;
								-webkit-animation: none;
								-moz-animation: none;
								animation: none;
								transform-origin: none;
							}
						}
					}
				}
			}

			.vector-menu-dropdown {
				padding-top: 0.5em;
				padding-bottom: 0.75em;
				margin-left: 0.75em;
				width: 1.5em;

				&.menuForceShow h3 {
					.background-image-svg-quick("images/button-active");
				}

				.background-image-svg-quick("images/button");
				background-position: center left;
				background-size: 1.5em 1.5em;
				background-repeat: no-repeat;
			
				h3 {
					padding: 0;

					background: none;

					height: 1.5em;
					width: 1.5em;

					background-position: .425rem .425rem;
					background-size: .75em;
					background-repeat: no-repeat;
			
					span {
						display: none;
						background: none;
						height: 0;
						overflow: hidden;
					}

					&:after {
						top: 0;
						background: none;
					}
				}
			
				.menu {
					a {
						color: #2c60b2;
			
						&:visited {
							color: #3573d6;
						}
					}
				}
			}

			#mw-panel {
				.vector-menu-portal {
					h3 {
						font-weight: bold;
						color: white;
						border-bottom: 1px solid white;
					}
			
					.vector-menu-content {
						background: none;
					}
				}
			}
		}

		div#mw-navigation {
			a {
				&, &.new {
					&, &:visited {
						color: #bfd9ff;
					}
				}
			}

			#pt-userpage, #pt-anonuserpage {
				color: white;
				
				a, a.new {
					color: inherit;
				}
			}

			#pt-userpage a  {
				.background-image-svg-quick("images/wikimediaui/userAvatar-invert");
			}

			#pt-anonuserpage {
				.background-image-svg-quick("images/wikimediaui/userAnonymous-invert");
			}
		}

		#footer,
		#mw-panel .vector-menu-portal .vector-menu-content li {
			a {
				&, &.new {
					&, &:visited {
						color: white;
					}
				}
			}
		}

		#content {
			border-top-left-radius: 2em;
			border-bottom-left-radius: 2em;
			box-shadow: -5px 5px 10px -7px black;
			border: none;

			margin-top: 0;
		}
		
		#footer {
			ul li {
				color: white;
			}
		}

		.suggestions {
			border: 1px solid #3171d6;
			border-top: none;
			box-sizing: border-box;
			background: white;

			.suggestions-results {
				border: none;
				//border-bottom: 1px solid #3171d6;
			}

			.suggestions-result, .suggestions-special {
				color: black;
				margin: 2px;
				border: 1px solid transparent;

				&.suggestions-result-current {
					&,
					& .special-label,
					& .special-query {
						color: black;
					}
					background-color: rgb(206, 211, 231);
					border-color: rgb(49, 105, 198);
				}
			}
		}
	}
}

@import 'icons.less';
